html, body, .app, #app>div, #root {
  height: 100%;
}

.App{
  height:100%;
}

.navbar {
  position: fixed;
  width:100%;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(200,200,200);
  height: 50px;
  font-size:25px;
}

.navbar-items{
  margin-top:0.5%;
}

.title {
  float: left;
  margin-left:1%;
}

.nav-btns-container {
  float: right;
  margin-right:6.5%;
}

.nav-btns{
  margin-right:3%;
  text-decoration: none;
}

.main-container {
  margin-top: 60px;
  height: 100%;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}

.profile {
  height: 100%;
}

.profile-analytics-container {
  height: 100%;
}

.chart-hidden{
  visibility: hidden;
}

#myChart { 
  margin-left: 50%;
  transform: translate(-50%)
}

.page {
  width: 60%;
  border-style:solid;
  margin: auto;
}

.page-contents{
  display:flex;
  justify-content: space-around;
}

.page-left{
  float:left;
  width:45%;
  border-style: solid;
  margin-top:2%;
  margin-bottom:2%
}

.page-right{
  float: right;
  width:50%;
  border-style: solid;
  margin-top:2%;
  margin-bottom:2%
}

.line-item{
  border-style: solid;
  margin: 3px 3px 3px 3px;
  padding: 2px;
}

.notes{
  border-style: solid;
  margin: 3px 3px 3px 3px;
}